<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align:center;">Create a new campground</h1>
        <div style="width:30%; margin:25px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <input class="form-control" type ="text" placeholder="name" name="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type ="text" placeholder="image url" name="image">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="cost" placeholder="cost" step="0.01" min="0" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type ="text" placeholder="description" name="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds"> Go BACK </a>
        </div>
    </div>
<% include ../partials/footer %>